/* Envelope */

#envelope {
    width:220px;
    height:140px;
    background:#ff6f91;
    position:relative;
    border-radius:6px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.flap {
    position:absolute;
    top:-70px;
    width:0;
    height:0;
    border-left:110px solid transparent;
    border-right:110px solid transparent;
    border-bottom:70px solid #ff8fab;
    transform-origin:bottom;
    transition:0.6s;
}

.letter {
    background:white;
    color:#ff4d6d;
    padding:15px 20px;
    border-radius:6px;
    font-weight:bold;
}

#envelope.open .flap {
    transform:rotateX(180deg);
}
